* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#display {
    grid-row: 1;
    width: 100%;
    height: 80px;
    font-size: 32px;
    text-align: right;
    padding: 20px;
    border: none;
    background-color: #333;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
}

.btn {
    font-size: 24px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ddd;
}

.span-two {
    grid-column: span 2;
}


@media only screen and (max-width: 400px) {
    .calculator {
        width: 90%;
    }

    #display {
        height: 60px;
        font-size: 28px;
    }

    .btn {
        font-size: 20px;
    }
}